# --- Basura de Sistema ---
.DS_Store
Thumbs.db
desktop.ini

# --- Docker ---
n8n_data/
.env

# --- Backend (Python) ---
**/__pycache__/
**/*.pyc
backend/*.sqlite3
backend/venv/
venv/

# --- Frontend (Node) ---
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.npm/
node_modules/