/* src/styles/Consejos.css */

/* Fondo gris claro para el contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0; /* Gris claro */
}

.top-bar {
  width: 100%;
  height: 50px;
  background-color: #006400; /* Color verde oscuro para la barra superior */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.brand-image {
  height: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  color: white;
  position: relative; /* Para el menú desplegable de perfil */
}

.user-name {
  margin-left: 10px;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 60px;
  background-color: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-menu li {
  margin: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
}

.content-section {
  flex: 1;
  padding: 20px;
  background-color: #b8b6b6; /* Fondo gris claro */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.filter-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-bar input {
  padding: 10px;
  width: 300px; /* Hacer el filtro más largo */
  border: 1px solid #ccc;
  border-radius: 50px 0 0 50px; /* Bordes redondeados */
}

.filter-bar button {
  padding: 10px 20px; /* Ajustar tamaño del botón */
  background-color: #006400; /* Color verde oscuro */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 50px 50px 0; /* Bordes redondeados */
}

.checkbox-filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.checkbox-filters label {
  margin-right: 20px;
  font-size: 16px;
}


.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px; /* Espacio entre tarjetas */
  margin-top: 20px; /* Espacio arriba del contenedor de tarjetas */
}

.tarjeta {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta */
  border: 1px solid #ccc; /* Borde de la tarjeta */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 20px; /* Espaciado interno de la tarjeta */
  text-align: center; /* Centra el texto */
  position: relative; /* Para posicionamiento absoluto de elementos */
  height: 80px; /* Mantén el tamaño fijo de la tarjeta */
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor a puntero al pasar por la tarjeta */
}

/* Efecto al pasar el mouse sobre la tarjeta */
.tarjeta:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  transform: translateY(-5px); /* Eleva la tarjeta al pasar el mouse */
}

.tarjeta .square {
  width: 50px;
  height: 100%; /* Ocupa toda la altura de la tarjeta */
  background-color: green; /* Cuadrado verde */
  position: absolute; /* Posicionamiento absoluto */
  top: 0;
  left: 0;
}

.tarjeta-titulo {
  font-size: 30px; /* Tamaño del título */
  font-weight: bold;
  margin: 0;
  text-align: center;
  z-index: 1; /* Asegura que el título esté encima del cuadrado */
  cursor: pointer; /* Cambia el cursor a puntero al pasar por la tarjeta */
}

.tarjeta-categoria {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px; /* Tamaño de la categoría */
  font-weight: normal;
  margin: 0;
  white-space: nowrap; /* Evita saltos de línea */
  text-overflow: ellipsis;
  cursor: pointer; /* Cambia el cursor a puntero al pasar por la tarjeta */
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el modal esté adelante de todo */
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Botón de cerrar */
.modal-close-btn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-close-btn:hover {
  background-color: #ff3232;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Espaciado entre los meses */
  padding: 20px;
}

.calendar-month {
  background-color: #4caf50; /* Color verde */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 10px 0; /* Espaciado interno superior e inferior */
  border-radius: 8px; /* Bordes redondeados */
  font-weight: bold; /* Negrita para el nombre del mes */
  height: 280px; /* Altura de cada celda del mes */
  position: relative; /* Para permitir un ajuste de posición de los elementos hijos */
}

.calendar-month h2 {
  font-size: 1.5em;
  margin: 0; /* Elimina márgenes para que el título esté en la parte superior */
  color: #333;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  text-align: center;
  color: #666;
  font-weight: bold;
  margin: 10px 0; /* Reduce el margen inferior */
  font-size: 0.9em; /* Tamaño de fuente consistente */
}

.day-name {
  margin: 0; /* Sin margen */
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px; /* Espacio entre los días */
  justify-content: center;
  width: 100%;
}

.day {
  background-color: #ffffff;
  border: 1px solid #b3e6b3;
  width: 28px; /* Tamaño reducido */
  height: 28px; /* Tamaño reducido */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em; /* Tamaño de fuente ajustado */
  color: #333;
  border-radius: 50%;
  position: relative; /* Para permitir el posicionamiento del círculo */
  transition: background-color 0.3s;
}

.day.empty {
  background-color: transparent;
  border: none;
}

.day:hover {
  background-color: #b3e6b3;
}

.circle {
  position: absolute;
  background-color: green; /* Color del círculo */
  border-radius: 50%;
  width: 20px; /* Diámetro del círculo */
  height: 20px; /* Altura del círculo */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el centro del círculo */
}

